# Tarea 1 & Tarea 2

se trabajaran con datos de observaciones satelitales de la ESA, se captura un fragmento de la descripcion de la database "Este conjunto de datos contiene fracciones molares de aire seco promedio de columna de dióxido de carbono atmosférico (XCO2), utilizando la recuperación rápida de gases traza atmosféricos para OCO2 (FOCAL-OCO2). El algoritmo FOCAL-OCO2 que se ha configurado para recuperar XCO2 mediante el análisis de mediciones de radiancia retrodispersada solar hiperespectral del satélite Orbiting Carbon Observatory 2 (OCO-2) de la NASA. FOCAL incluye un modelo de transferencia radiativa que se ha desarrollado para aproximar los efectos de dispersión de la luz mediante dispersión múltiple en una capa de dispersión ópticamente delgada. Esto reduce los costes computacionales en varios órdenes de magnitud. El modelo de transferencia radiativa de FOCAL se utiliza para simular la radiación en las tres bandas espectrales de OCO-2, lo que permite la recuperación simultánea de CO2, H2O y fluorescencia de clorofila inducida por la luz solar. El producto está limitado a escenas sin nubes en el lado diurno de la Tierra. Este conjunto de datos también se conoce como CO2_OC2_FOCA. Esta versión de los datos (v10) se produjo como parte del proyecto de Gases de Efecto Invernadero (GEI) de la Iniciativa de Cambio Climático (CCI) de la Agencia Espacial Europea (ESA)  Citable as:  Reuter, M.; Hilker, M.; Noël, S.; Buchwitz, M.; Schneising, O.; Bovensmann, H.; Burrows, J.P. (2022): ESA Greenhouse Gases Climate Change Initiative (GHG_cci): Column averaged carbon dioxide from OCO-2 generated with the FOCAL algorithm, version 10. NERC EDS Centre for Environmental Data Analysis, date of citation. https://catalogue.ceda.ac.uk/uuid/070522ac6a5d4973a95c544beef714b4" (https://catalogue.ceda.ac.uk/uuid/070522ac6a5d4973a95c544beef714b4)

provicionalmente se empleara una base de datos de Airbnb, en lo que logro obtener la base de datos exacta para mi objetivo

In [1]:
import pandas as pd 

from IPython.display import Markdown

vamos a crear un arreglo diccionario para verlo en Latex

In [2]:
pollutants = [
    {
        'name' :'$\\text{PM}_{10}$',
        'min_value' : 2,
        'max_value' : 850,
        'unit' : '$\mu\\text{gr}$ / $\\text{m}^3$'
    },
    {
        'name' :'$\\text{PM}_{2.5}$',
        'min_value' : 2,
        'max_value' : 850,
        'unit' : '$\mu\\text{gr}$ / $\\text{m}^3$'
    },
    {
        'name' :'$\\text{O}_3$',
        'min_value' : 2,
        'max_value' : 200,
        'unit' : 'ppm'
    },
    {
        'name' :'NO',
        'min_value' : 1,
        'max_value' : 350,
        'unit' : 'ppm'
    },
    {
        'name' :'$\\text{NO}_2$',
        'min_value' : 1,
        'max_value' : 150,
        'unit' : 'ppm'
    },
    {
        'name' :'$\\text{NO}_X$',
        'min_value' : 1,
        'max_value' : 350,
        'unit' : 'ppm'
    },
    {
        'name' :'$\\text{SO}_2$',
        'min_value' : 1,
        'max_value' : 200,
        'unit' : 'ppm'
    },
    {
        'name' :'CO',
        'min_value' : 0.050,
        'max_value' : 15,
        'unit' : 'ppm'
    },
    {
        'name' :'Temperature',
        'min_value' : -15,
        'max_value' : 50,
        'unit' : '°C'
    },
    {
        'name' :'Relative humidity',
        'min_value' : 0,
        'max_value' : 100,
        'unit' : '%'
    },
    {
        'name' :'Barometric pressure',
        'min_value' : 650,
        'max_value' : 750,
        'unit' : 'mmHg'
    },
    {
        'name' :'Solar radiation',
        'min_value' : 0,
        'max_value' : 1.2,
        'unit' : 'Langley / h'
    },
    {
        'name' :'Rainfall',
        'min_value' : 0,
        'max_value' : 789,
        'unit' : 'mm/h'
    },
]

In [6]:
df_pollutants_def

                   name  min_value  max_value                           unit
0      $\text{PM}_{10}$       2.00      850.0  $\mu\text{gr}$ / $\text{m}^3$
1     $\text{PM}_{2.5}$       2.00      850.0  $\mu\text{gr}$ / $\text{m}^3$
2          $\text{O}_3$       2.00      200.0                            ppm
3                    NO       1.00      350.0                            ppm
4         $\text{NO}_2$       1.00      150.0                            ppm
5         $\text{NO}_X$       1.00      350.0                            ppm
6         $\text{SO}_2$       1.00      200.0                            ppm
7                    CO       0.05       15.0                            ppm
8           Temperature     -15.00       50.0                             °C
9     Relative humidity       0.00      100.0                              %
10  Barometric pressure     650.00      750.0                           mmHg
11      Solar radiation       0.00        1.2                    Langley / h
12             Rainfall       0.00      789.0                           mm/h

In [5]:
df_pollutants_def = pd.DataFrame(pollutants)
display(Markdown(df_pollutants_def.to_markdown(index=False)))

| name                |   min_value |   max_value | unit                          |
|:--------------------|------------:|------------:|:------------------------------|
| $\text{PM}_{10}$    |        2    |       850   | $\mu\text{gr}$ / $\text{m}^3$ |
| $\text{PM}_{2.5}$   |        2    |       850   | $\mu\text{gr}$ / $\text{m}^3$ |
| $\text{O}_3$        |        2    |       200   | ppm                           |
| NO                  |        1    |       350   | ppm                           |
| $\text{NO}_2$       |        1    |       150   | ppm                           |
| $\text{NO}_X$       |        1    |       350   | ppm                           |
| $\text{SO}_2$       |        1    |       200   | ppm                           |
| CO                  |        0.05 |        15   | ppm                           |
| Temperature         |      -15    |        50   | °C                            |
| Relative humidity   |        0    |       100   | %                             |
| Barometric pressure |      650    |       750   | mmHg                          |
| Solar radiation     |        0    |         1.2 | Langley / h                   |
| Rainfall            |        0    |       789   | mm/h                          |

In [21]:
df_airbnb = pd.read_csv("../base de datos provicional/Airbnb_Open_Data.csv")

C:\Users\juanj\AppData\Local\Temp\ipykernel_32484\624610994.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_airbnb = pd.read_csv("../base de datos provicional/Airbnb_Open_Data.csv")

In [23]:
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  Construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  Unnamed: 25                     2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [24]:
from datetime import datetime
custom_date_parser = lambda x: datetime.strftime(x, '%d-%b-%y %H')