# Tarea 1 & Tarea 2

se trabajaran con datos de observaciones satelitales de la ESA, se captura un fragmento de la descripcion de la database "Este conjunto de datos contiene fracciones molares de aire seco promedio de columna de dióxido de carbono atmosférico (XCO2), utilizando la recuperación rápida de gases traza atmosféricos para OCO2 (FOCAL-OCO2). El algoritmo FOCAL-OCO2 que se ha configurado para recuperar XCO2 mediante el análisis de mediciones de radiancia retrodispersada solar hiperespectral del satélite Orbiting Carbon Observatory 2 (OCO-2) de la NASA. FOCAL incluye un modelo de transferencia radiativa que se ha desarrollado para aproximar los efectos de dispersión de la luz mediante dispersión múltiple en una capa de dispersión ópticamente delgada. Esto reduce los costes computacionales en varios órdenes de magnitud. El modelo de transferencia radiativa de FOCAL se utiliza para simular la radiación en las tres bandas espectrales de OCO-2, lo que permite la recuperación simultánea de CO2, H2O y fluorescencia de clorofila inducida por la luz solar. El producto está limitado a escenas sin nubes en el lado diurno de la Tierra. Este conjunto de datos también se conoce como CO2_OC2_FOCA. Esta versión de los datos (v10) se produjo como parte del proyecto de Gases de Efecto Invernadero (GEI) de la Iniciativa de Cambio Climático (CCI) de la Agencia Espacial Europea (ESA)  Citable as:  Reuter, M.; Hilker, M.; Noël, S.; Buchwitz, M.; Schneising, O.; Bovensmann, H.; Burrows, J.P. (2022): ESA Greenhouse Gases Climate Change Initiative (GHG_cci): Column averaged carbon dioxide from OCO-2 generated with the FOCAL algorithm, version 10. NERC EDS Centre for Environmental Data Analysis, date of citation. https://catalogue.ceda.ac.uk/uuid/070522ac6a5d4973a95c544beef714b4" (https://catalogue.ceda.ac.uk/uuid/070522ac6a5d4973a95c544beef714b4)

provicionalmente se empleara una base de datos de Airbnb, en lo que logro obtener la base de datos exacta para mi objetivo

In [10]:
import pandas as pd 

from IPython.display import Markdown

vamos a crear un arreglo diccionario para verlo en Latex

In [12]:
pollutants = [
    {
        'name' :'$\\text{PM}_{10}$',
        'min_value' : 2,
        'max_value' : 850,
        'unit' : '$\mu\\text{gr}$ / $\\text{m}^3$'
    },
    {
        'name' :'$\\text{PM}_{2.5}$',
        'min_value' : 2,
        'max_value' : 850,
        'unit' : '$\mu\\text{gr}$ / $\\text{m}^3$'
    },
    {
        'name' :'$\\text{O}_3$',
        'min_value' : 2,
        'max_value' : 200,
        'unit' : 'ppm'
    },
    {
        'name' :'NO',
        'min_value' : 1,
        'max_value' : 350,
        'unit' : 'ppm'
    },
    {
        'name' :'$\\text{NO}_2$',
        'min_value' : 1,
        'max_value' : 150,
        'unit' : 'ppm'
    },
    {
        'name' :'$\\text{NO}_X$',
        'min_value' : 1,
        'max_value' : 350,
        'unit' : 'ppm'
    },
    {
        'name' :'$\\text{SO}_2$',
        'min_value' : 1,
        'max_value' : 200,
        'unit' : 'ppm'
    },
    {
        'name' :'CO',
        'min_value' : 0.050,
        'max_value' : 15,
        'unit' : 'ppm'
    },
    {
        'name' :'Temperature',
        'min_value' : -15,
        'max_value' : 50,
        'unit' : '°C'
    },
    {
        'name' :'Relative humidity',
        'min_value' : 0,
        'max_value' : 100,
        'unit' : '%'
    },
    {
        'name' :'Barometric pressure',
        'min_value' : 650,
        'max_value' : 750,
        'unit' : 'mmHg'
    },
    {
        'name' :'Solar radiation',
        'min_value' : 0,
        'max_value' : 1.2,
        'unit' : 'Langley / h'
    },
    {
        'name' :'Rainfall',
        'min_value' : 0,
        'max_value' : 789,
        'unit' : 'mm/h'
    },
]

In [15]:
df_pollutants_def

                   name  min_value  max_value                           unit
0      $\text{PM}_{10}$       2.00      850.0  $\mu\text{gr}$ / $\text{m}^3$
1     $\text{PM}_{2.5}$       2.00      850.0  $\mu\text{gr}$ / $\text{m}^3$
2          $\text{O}_3$       2.00      200.0                            ppm
3                    NO       1.00      350.0                            ppm
4         $\text{NO}_2$       1.00      150.0                            ppm
5         $\text{NO}_X$       1.00      350.0                            ppm
6         $\text{SO}_2$       1.00      200.0                            ppm
7                    CO       0.05       15.0                            ppm
8           Temperature     -15.00       50.0                             °C
9     Relative humidity       0.00      100.0                              %
10  Barometric pressure     650.00      750.0                           mmHg
11      Solar radiation       0.00        1.2                    Langley / h
12             Rainfall       0.00      789.0                           mm/h

In [14]:
df_pollutants_def = pd.DataFrame(pollutants)
display(Markdown(df_pollutants_def.to_markdown(index=False)))

| name                |   min_value |   max_value | unit                          |
|:--------------------|------------:|------------:|:------------------------------|
| $\text{PM}_{10}$    |        2    |       850   | $\mu\text{gr}$ / $\text{m}^3$ |
| $\text{PM}_{2.5}$   |        2    |       850   | $\mu\text{gr}$ / $\text{m}^3$ |
| $\text{O}_3$        |        2    |       200   | ppm                           |
| NO                  |        1    |       350   | ppm                           |
| $\text{NO}_2$       |        1    |       150   | ppm                           |
| $\text{NO}_X$       |        1    |       350   | ppm                           |
| $\text{SO}_2$       |        1    |       200   | ppm                           |
| CO                  |        0.05 |        15   | ppm                           |
| Temperature         |      -15    |        50   | °C                            |
| Relative humidity   |        0    |       100   | %                             |
| Barometric pressure |      650    |       750   | mmHg                          |
| Solar radiation     |        0    |         1.2 | Langley / h                   |
| Rainfall            |        0    |       789   | mm/h                          |

# in this homework we will load the database from CSV file and satar to work withe that

In [16]:
df_airbnb = pd.read_csv("../base de datos provicional/Airbnb_Open_Data.csv")

C:\Users\juanj\AppData\Local\Temp\ipykernel_8088\624610994.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_airbnb = pd.read_csv("../base de datos provicional/Airbnb_Open_Data.csv")

In [17]:
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  Construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  Unnamed: 25                     2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

this part will be ignored by the moment, because it is not necessary to the homework

In [18]:
from datetime import datetime
custom_date_parser = lambda x: datetime.strftime(x, '%d-%b-%y %H')

now we can see the columns in the table and we start with dropped the columns that will not be used
the first step is to copy the dataframes in other direction

In [19]:
df_copy = df_airbnb.copy()


df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  Construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  Unnamed: 25                     2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

# the coulums to be eliminated from the database will be 'country_code', 'house_rules', 'unnamed: 25', thad will be posible used .drop

In [20]:
df_copy.drop(columns = ['country_code','house_rules'], inplace = True)

In [21]:
df_copy.drop(columns = ['Unnamed: 25'], inplace = True)

In [22]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  instant_bookable                102494 non-null  object
 11  cancellation_policy             102523 non-null  object
 12  room_type                       102599 non-null  object
 13  Construction_year               102385 non-null  float64
 14  price                           102352 non-null  object
 15  service_fee                     102326 non-null  object
 16  minimum_nights                  102190 non-null  float64
 17  number_of_reviews               102416 non-null  float64
 18  last_review                     86706 non-null   object
 19  reviews_per_month               86720 non-null   float64
 20  review_rate_number              102273 non-null  float64
 21  calculated_host_listings_count  102280 non-null  float64
 22  availability_365                102151 non-null  float64
dtypes: float64(9), int64(2), object(12)
memory usage: 18.0+ MB

## The following group is created from the dataframe copy of the airbnb data, in this case the group created from the dataframe is referenced to the room type and price

In [23]:
price_and_rooms = df_copy.groupby( ['room_type', 'price'])
  
price_and_rooms.first()

                              id  \
room_type       price
Entire home/apt $1,000   1762405
                $1,001   2500278
                $1,002   3036009
                $1,003   1155428
                $1,004   1819292
...                          ...
Shared room     $991    19493445
                $994    21058663
                $995     9121251
                $996     9925952
                $998     2078321

                                                                   name  \
room_type       price
Entire home/apt $1,000              Cozy 1BR apart. in Prospect Hts, BK
                $1,001                  Great Apt/Roof in Hells Kitchen
                $1,002              1BR West Village! Landmark Building
                $1,003              Farmhouse Apartment in Williamsburg
                $1,004              Lux 2Bed/2.5Bath Central Park Views
...                                                                 ...
Shared room     $991                                    the family room
                $994       LUXURY BEDROOM # 2. Ten mins from JFK/Casino
                $995                    Luxury One Bedroom in Manhattan
                $996    Stylish shared room for a guy near Central Park
                $998                                Gowanis Urban Oasis

                            host_id host_identity_verified       host_name  \
room_type       price
Entire home/apt $1,000  28816780806            unconfirmed           Marta
                $1,001  47269591542            unconfirmed          Jorion
                $1,002  71282626568            unconfirmed  Laura And Jake
                $1,003  29306345588            unconfirmed           Owens
                $1,004  20299085756            unconfirmed           Henry
...                             ...                    ...             ...
Shared room     $991     5924240953            unconfirmed           Hiram
                $994    69545934827            unconfirmed          Joseph
                $995    77017898904               verified          Jibari
                $996    67895920256               verified           Tanya
                $998    84085404460               verified         Raymond

                       neighbourhood_group     neighbourhood       lat  \
room_type       price
Entire home/apt $1,000            Brooklyn  Prospect Heights  40.67293
                $1,001           Manhattan    Hell's Kitchen  40.76582
                $1,002           Manhattan      West Village  40.73311
                $1,003            Brooklyn      Williamsburg  40.71069
                $1,004           Manhattan   Upper West Side  40.77516
...                                    ...               ...       ...
Shared room     $991              Brooklyn          Bushwick  40.69164
                $994                Queens           Jamaica  40.68627
                $995             Manhattan            Harlem  40.83122
                $996             Manhattan   Upper East Side  40.77927
                $998              Brooklyn           Gowanus  40.66893

                            long        country  ...  cancellation_policy  \
room_type       price                            ...
Entire home/apt $1,000 -73.96399  United States  ...             moderate
                $1,001 -73.99468  United States  ...               strict
                $1,002 -74.00401  United States  ...             moderate
                $1,003 -73.95175  United States  ...             moderate
                $1,004 -73.98573  United States  ...             moderate
...                          ...            ...  ...                  ...
Shared room     $991   -73.91513  United States  ...               strict
                $994   -73.77633  United States  ...               strict
                $995   -73.94475  United States  ...             moderate
                $996   -73.95071  United States  ...             flexible
                $998   -73.99404  United States  ...             flexible

                       Construction_year  service_fee minimum_nights  \
room_type       price
Entire home/apt $1,000            2013.0         $200            5.0
                $1,001            2010.0         $200            2.0
                $1,002            2019.0         $200            7.0
                $1,003            2006.0         $201           10.0
                $1,004            2018.0         $201           30.0
...                                  ...          ...            ...
Shared room     $991              2005.0         $198            1.0
                $994              2015.0         $199            1.0
                $995              2017.0         $199            1.0
                $996              2004.0         $199           30.0
                $998              2013.0         $200            2.0

                        number_of_reviews  last_review reviews_per_month  \
room_type       price
Entire home/apt $1,000                7.0   12/31/2015              0.08
                $1,001               23.0    9/23/2018              0.32
                $1,002               19.0    7/31/2016              0.31
                $1,003               49.0    6/29/2019              0.48
                $1,004               59.0    1/28/2016              0.71
...                                   ...          ...               ...
Shared room     $991                  9.0   07/01/2019              1.03
                $994                 17.0    5/17/2019              1.84
                $995                 67.0   07/06/2019              1.65
                $996                 22.0   12/22/2018              0.58
                $998                155.0   07/01/2019              2.11

                        review_rate_number  calculated_host_listings_count  \
room_type       price
Entire home/apt $1,000                 2.0                             1.0
                $1,001                 3.0                             1.0
                $1,002                 2.0                             1.0
                $1,003                 1.0                             1.0
                $1,004                 5.0                            11.0
...                                    ...                             ...
Shared room     $991                   3.0                             2.0
                $994                   4.0                             4.0
                $995                   4.0                             1.0
                $996                   5.0                             6.0
                $998                   1.0                             1.0

                        availability_365
room_type       price
Entire home/apt $1,000             271.0
                $1,001             166.0
                $1,002             202.0
                $1,003             407.0
                $1,004              87.0
...                                  ...
Shared room     $991               365.0
                $994               141.0
                $995                30.0
                $996               124.0
                $998               147.0

[3228 rows x 21 columns]

In [24]:
import numpy as np

nights_ocupation = df_copy.minimum_nights 

nights_ocupation.fillna(0, inplace=True)  #fue necesario elimir los ceros para poder calcular la media

list_nights_ocupation = list(nights_ocupation)

In [25]:
round(len(nights_ocupation)/2)+1
df_copy.iloc[:,16:17]

        minimum_nights
0                 10.0
1                 30.0
2                  3.0
3                 30.0
4                 10.0
...                ...
102594             1.0
102595             1.0
102596             3.0
102597             2.0
102598             1.0

[102599 rows x 1 columns]

In [29]:
import math

In [32]:
media = int(sum(list_nights_ocupation))/int(len(round(nights_ocupation)))

mediana = nights_ocupation[round(len(nights_ocupation)/2):round(len(nights_ocupation)/2)+1]

#des_estandar = math.sqrt(int(list_nights_ocupation-media)**2/(round(len(nights_ocupation)/2)-1))

varianza = sum((i-media)**2 for i in list_nights_ocupation) / int(len(round(nights_ocupation)))

desv_estandar = math.sqrt(varianza)

print(media)
print(mediana)
print(varianza)
print(desv_estandar)

8.103412313960176
51300    2.0
Name: minimum_nights, dtype: float64
930.0658368522645
30.49698078256706

In [ ]:
sum(list_nights_ocupation)

nan